@import "tailwindcss";

@theme {
  --color-background: #12101C;
  --color-primary: #8A2BE2;
  --color-surface: #1E1C2A;
  --color-textGrey: #A09EAC;
  --color-borderDark: #2C2A3A;
  
  --shadow-neon: 0 0 20px rgba(138, 43, 226, 0.5);
  --shadow-neon-strong: 0 0 40px rgba(138, 43, 226, 0.8);
}